**/bin/
**/obj/
.vs/
*.user
*.suo
work/
src/OpenCVCameraTracking.Package/StoreIdentity.props
src/OpenCVCameraTracking.Package/*.pfx
src/OpenCVCameraTracking.Package/Certificates/
src/OpenCVCameraTracking.Package/AppPackages/
