<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
         xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
         xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
         IgnorableNamespaces="uap rescap">
  <Identity Name="__STORE_PACKAGE_IDENTITY_NAME__"
            Publisher="__STORE_PUBLISHER__"
            Version="__STORE_PACKAGE_VERSION__"
            ProcessorArchitecture="x64" />
  <Properties>
    <DisplayName>__STORE_PACKAGE_DISPLAY_NAME__</DisplayName>
    <PublisherDisplayName>__STORE_PUBLISHER_DISPLAY_NAME__</PublisherDisplayName>
    <Logo>Images\StoreLogo.png</Logo>
  </Properties>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.17763.0" MaxVersionTested="10.0.22621.0" />
  </Dependencies>
  <Applications>
    <Application Id="App"
                 Executable="OpenCVCameraTracking.exe"
                 EntryPoint="Windows.FullTrustApplication">
      <uap:VisualElements DisplayName="__STORE_PACKAGE_DISPLAY_NAME__"
                          Description="Camera and RTSP face and animal tracking"
                          BackgroundColor="transparent"
                          Square150x150Logo="Images\Square150x150Logo.png"
                          Square44x44Logo="Images\Square44x44Logo.png">
        <uap:DefaultTile Wide310x150Logo="Images\Wide310x150Logo.png" />
      </uap:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
    <Capability Name="internetClient" />
    <Capability Name="privateNetworkClientServer" />
    <DeviceCapability Name="webcam" />
  </Capabilities>
</Package>
